.header {
    padding: 0 10px;
    display: flex;
    justify-content: start;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    align-items: flex-start;
    .logo {
        width: 80px;
        height: 80px;
    }
    .header_title {
        padding: 10px 34px;
        
        .title {
            margin: 0;
            font-size: 35px;
            font-weight: 700;
        }
        .subtitle {
            text-align: right;
            color: gray;
            margin: -10px 0 0;
            font-size: 14px;
            font-weight: 400;
        }
    }
    @media (max-width: 428px) {
        visibility: hidden;
    }
}