$colorBlue: #0080A5;
$colorLightBlue: #CCE6ED;
$colorlightYellow:#FFF26B;
$colorLightGrey: #F5F5F5;
$colorBlack: #383838;
$colorGray: #959595;
.wrapper {
    .main {
        margin: 70px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: 768px) {
            margin: 68px 0;
        }
        @media (max-width: 320px) {
            margin: 55px 0;
        }
        .bannder_section {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .menu {
                position: fixed;
                top: 58px;
                left: 0;
                padding: 12px 30px;
                width: 350px;
                overflow-y: hidden;
                @media (max-width: 960px) {
                    display: none;
                }
                .nav_title {
                    color: $colorBlack;
                    padding: 12px 20px;
                    background: $colorlightYellow;
                    font-weight: 500;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                    text-align: center;
                }
                .first_layer{
                    overflow-y:scroll;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                    >li{
                        border-left: 1px solid $colorLightGrey;
                        border-right: 1px solid $colorLightGrey;
                        border-bottom: 1px solid $colorLightGrey;
                        >a{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 16px 22px;
                            &.not-collapsed{
                                &:after {
                                    transform: rotate(180deg);
                                }
                            }
                            &:active {
                                background: $colorLightBlue;
                            }
                        }
                        &.noBgColor {
                            >a{
                                background: none;
                            }
                        }
                        &.hasSub {
                            >a:after{
                                content: '';
                                display: block;
                                width: 16px;
                                height: 9px;
                                background-image: url(~/static/img/arrow_down.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                                margin-left: 8px;
                                transition: 0.15s ease-in-out ;
                                background-position: center;
                            }
                        }
                    }
                    .active {
                        > a {
                            color: $colorlightYellow;
                        }
                    }
                }
                .second_layer{
                    // padding: 16px 0px 16px 24px;
                    >li{
                        >a{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 16px 16px 16px 46px;
                            &.not-collapsed{
                                &:after {
                                    transform: rotate(180deg);
                                }
                            }
                            &:active {
                                background: $colorLightBlue;
                            }
                            >div {
                                >img {
                                    // background-color: red;
                                    margin: 0 8px 0 0;
                                    width: 21px;
                                    height: 21px;
                                }
                            }
                        } 
                        &.activeBgColor {
                            >a{
                                background: $colorBlue;
                            }
                        }  
                        &.hasSub {
                            >a:after{
                                content: '';
                                display: block;
                                width: 16px;
                                height: 9px;
                                background-image: url(~/static/img/arrow_down.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                                margin-right: 4px;
                                transition: 0.15s ease-in-out ;
                                background-position: center;
                            }
                        }
                        &.lockArrowTrans{
                            >a:after{
                                content: '';
                                display: block;
                                width: 24px;
                                height: 24px;
                                background-image: url(~/static/img/arrow_down.svg);
                                background-size: contain;
                                background-repeat: no-repeat;
                                margin-left: 8px;
                                background-position: center;
                            }
                        }
                    }
                    .active {
                        > a {
                            color: $colorBlue;
                        }
                    }
                }
            }
            .content_section {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-left: 350px;
                width: calc(100vw - 380px);
                @media (max-width: 960px) {
                    margin-left: 0;
                    padding: 0 20px;
                    width: 100%;
                }
                @media (max-width: 768px) {
                    padding: 0 10px;
                    .banner {
                        .banner_title {
                            font-size: 18px;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
                .banner {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                    .banner_title {
                        color: $colorlightYellow;
                    }
                    .carousel-inner{
                        img {
                            height: 320px !important;
                        }
                    }
                }
                .separator {
                    margin: 20px 0;
                    padding: 4px 16px;
                    background: $colorlightYellow;
                    color: $colorBlack;
                    font-weight: 500;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 4px solid $colorBlue;
                    @media (max-width: 414px) {
                        margin: 10px 0;
                        border-top: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        border-left: 2px solid $colorBlue;
                    }
                }
                .product_list {
                    width: 100%;
                    padding: 0 20px;
                    margin: 0;
                    justify-content: space-around;
                    .product_card {
                        max-width: 16rem;
                        img {
                            height: 10rem;
                        }
                    }
                    .product_tags {
                        font-size: 14px;
                        color: $colorGray;
                    }
                }
                @media (max-width: 768px) {
                    .product_list {
                        padding: 0;
                        .product_card {
                            font-size: 14px;
                            width: 22%;
                            .card-body {
                                padding: 10px;
                                .card-title {
                                    font-size: 18px;
                                }
                                .card-text {
                                    margin: 0;
                                }
                            }
                        }
                        .product_tags {
                            display: none;
                        }
                    }
                }
                @media (max-width: 414px) {
                    .product_list {
                        .product_card {
                            text-align: center;
                            width: 46%;
                            .card-body {
                                padding: 10px;
                                .card-title {
                                    font-size: 18px;
                                    margin: 0;
                                }
                                .card-text {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}
